<?xml version='1.0' encoding='UTF-8'?>
<!--
  Copyright (C) 2015, Tino Didriksen <mail@tinodidriksen.com>
  Licensed under the GNU GPL version 3 or later; see http://www.gnu.org/licenses/
-->
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Name='{NAME}' Id='*' UpgradeCode='{UUID0}' Codepage='1252' Version='{VERSION_DOT}' Manufacturer='Tino Didriksen Consult'>

    <Package Id='*' Keywords='Installer' Description='{NAME} Installation' Comments='{NAME} is a {LOCALES} spell checker for Microsoft Office 2007+, plus Microsoft Windows 8+. Developed by Tino Didriksen (http://tinodidriksen.com/) with engine based on HFST (http://sf.net/p/hfst/).' Manufacturer='Tino Didriksen Consult' InstallerVersion='100' Compressed='yes' SummaryCodepage='1252' InstallScope='perMachine' />

    <Upgrade Id='{UUID0}'>
      <UpgradeVersion OnlyDetect='no' Property='PREVIOUSFOUND'
        Minimum='0.0.1' IncludeMinimum='yes'
        Maximum='{VERSION_DOT}' IncludeMaximum='no' />
    </Upgrade>

    <!-- msitools doesn't support these, but leaving here for WiX
    <CustomAction Id='AlreadyUpdated' Error='[ProductName] is already the latest version.' />
    <CustomAction Id='NoDowngrade' Error='A newer version of [ProductName] is already installed.' />
    -->

    <InstallExecuteSequence>
      <RemoveExistingProducts After='InstallInitialize' />
    </InstallExecuteSequence>

    <Media Id='1' Cabinet='{NAME}.cab' EmbedCab='yes' DiskPrompt='Disk #1' />
    <Property Id='DiskPrompt' Value='{NAME} Installation [1]' />
{ICON}

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='INSTALLDIR' Name='{NAME}'>

          <Component Id='SpellChecker' Guid='{UUID1}'>
            <File Id='SpellerDLL32' Name='office32.dll' DiskId='1' Source='../../msoffice/win/office32.dll' KeyPath='yes' />
            <File Id='SpellerDLL64' Name='office64.dll' DiskId='1' Source='../../msoffice/win/office64.dll' />
            <File Id='SpellerPropagate' Name='create-hkcu.exe' DiskId='1' Source='../../msoffice/win/create-hkcu.exe' />
            <!-- Only needed if you rebuild via MinGW, such as when cross-compiling.
            <File Id='Speller_libstdcpp' Name='libstdc++-6.dll' DiskId='1' Source='libstdc++-6.dll' />
            <File Id='Speller_libgcc_s' Name='libgcc_s_sjlj-1.dll' DiskId='1' Source='libgcc_s_sjlj-1.dll' />
            -->
            <File Id='SpellerIni' Name='speller.ini' DiskId='1' Source='speller.ini' />

            <RegistryKey Id='SpellerRegGlobal' Root='HKLM' Key='Software\Microsoft\Active Setup\Installed Components\{{UUID0}}' ForceDeleteOnUninstall='yes'>
              <RegistryValue Type='string' Value='{NAME}' />
              <RegistryValue Type='string' Name='Version' Value='{VERSION_COMMA}' />
              <RegistryValue Type='string' Name='StubPath' Value='[INSTALLDIR]create-hkcu.exe' />
            </RegistryKey>
          </Component>

          <Directory Id='BACKENDDIR' Name='backend'>
            <Component Id='Backend' Guid='{UUID2}'>
{BACKEND_FILES}
            </Component>
          </Directory>

          <Component Id='SpellerReg' Guid='{UUID3}'>
{LOCALE_REGS}
          </Component>

          <Component Id='SpellerWindows8' Guid='{UUID4}'>
            <RegistryKey Id='SpellerRegWin8' Root='HKLM' Key='Software\\Microsoft\\Spelling\\Spellers\\{NAME}' ForceDeleteOnUninstall='yes'>
              <RegistryValue Type='string' Name='CLSID' Value='{{UUID0}}' />
            </RegistryKey>
            <RegistryKey Id='SpellerRegWin8CLSID' Root='HKLM' Key='Software\\Classes\\CLSID\\{{UUID0}}' ForceDeleteOnUninstall='yes'>
              <RegistryValue Type='string' Value='{NAME}' />
              <RegistryValue Type='string' Name='AppId' Value='{{UUID0}}' />
            </RegistryKey>
            <RegistryKey Id='SpellerRegWin8Inproc' Root='HKLM' Key='Software\\Classes\\CLSID\\{{UUID0}}\\InprocServer32' ForceDeleteOnUninstall='yes'>
              <RegistryValue Type='string' Value='[BACKENDDIR]libspeller-win8.dll' />
              <RegistryValue Type='string' Name='ThreadingModel' Value='Both' />
            </RegistryKey>
            <RegistryKey Id='SpellerRegWin8Version' Root='HKLM' Key='Software\\Classes\\CLSID\\{{UUID0}}\\Version' ForceDeleteOnUninstall='yes'>
              <RegistryValue Type='string' Value='{VERSION_DOT}' />
            </RegistryKey>
          </Component>

        </Directory>
      </Directory>
    </Directory>

    <Feature Id='Complete' Level='1'>
      <ComponentRef Id='SpellChecker' />
      <ComponentRef Id='Backend' />
      <ComponentRef Id='SpellerReg' />
      <ComponentRef Id='SpellerWindows8' />
    </Feature>

  </Product>
</Wix>
